<!DOCTYPE html>
<html>
<head>
	<title>QUnit Example</title>
	<meta charset="utf-8">

	<!-- QUnit Css -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/qunit.css" />
</head>
<body>
	<div id="qunit"></div>
	<div id="qunit-fixture"></div>

	<!-- QUnit JavaSript -->
	<script type="text/javascript" src="../javascripts/qunit.js"></script>

	<!-- QUnit Test -->
	<script>
		test( "a basic test example", function() {
			var value = "hello";
			equal( value, "hello", "We expect value to be hello" );
		});
	</script>
</body>
</html>
</body>
</html>