<!DOCTYPE html>
<html>
<head>
	<title>HTML5shiv Example</title>

	<!-- HTML5shiv -->
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../javascripts/html5-shiv.js"></script>
	<![endif]-->

	<!-- Css -->
	<style type="text/css">
		section {
			color: green;
			height: 40px;
			background-color: lightgreen;
		}
	</style>
</head>
<body>
	<h2>HTML5shiv Example</h2>
	<section>
		HTML5 tags like section, header, footer and aside can now be styled for browsers < Internet Explorer 9
	</section>
</body>
</html>